SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/callback
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="" 
GOOGLE_SHEET_ID=
GOOGLE_JSON_FILE=

ACT1_ID= # the Spotify playlist ID for Act 1. You can find this in the Spotify app by going to the playlist, clicking "Share", and then "Copy Spotify URI". It will look like "spotify:playlist:4vvzu5brAv2gj64qZQhuCQ". You only need the last part after "playlist:".
ACT2_ID=
ACT3_ID=