SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
GOOGLE_SERVICE_ACCOUNT_EMAIL=""
GOOGLE_PRIVATE_KEY=""  # from service account created for google through google cloud -- go to the account, under 'Keys' create new key, make it JSON -- will download, and you can find the private_key -- same for client/service email
GOOGLE_SHEET_ID="" # this is between /d/ and /edit? in your google sheet sharing URL
